# Ignora pastas de cache e checkpoints
__pycache__/
.ipynb_checkpoints/

# Ignora arquivos de ambiente virtual (caso use)
env/
venv/
.env

# Ignora arquivos de dados (se não quiser subir o CSV)
*.csv

# Ignora arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignora arquivos do VS Code
.vscode/